.taskContainer {
	display: inline-flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	margin: 15px;
	margin-top: 65px;
	outline: none;
	cursor: pointer;
}

.taskContainer:hover,
.taskContainerSelected {
	animation: hoverPulse 1s infinite alternate;
}

.animateDown {
	animation: down 0.75s forwards;
}

.taskCircle {
	position: absolute;
	transform: translate(0px, -27px);
	height: 200px;
	width: 200px;

	background-color: var(--task-circle-color);
	border-radius: 100%;
}

.taskCircleSelected {
	background-color: transparent;
}

.taskIcon {
	position: absolute;
	transform: translate(0px, -27px);
}

.taskDataContainer {
	display: flex;
	position: absolute;
	transform: translate(0px, 106px);
	align-items: center;
	justify-content: center;
}

.nmt {
	transform: rotate(-10deg);
}

.currency {
	font-size: 2.25rem;
	margin-left: 6px;
	font-weight: 600;
	color: var(--task-text-color);
}

.currencySelected {
	color: var(--task-selected-text-color);
}

.multiplierBadge {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	height: 42px;
	width: 56px;
	color: white;
	background-color: var(--multiplier-badge-color);
	border-radius: 35%;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
	transform: translate(110px, -30px);

	animation: badgeBounce 0.75s linear infinite;
}

.bubbleContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	transform: translate(146px, 200px);
	z-index: -1;

	width: 100%;
	position: absolute;
}

.bubble {
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;

	background-color: var(--task-color);
	border-radius: 50%;
	z-index: -4;

	animation: bubbleUp 2.5s linear infinite;
	animation-fill-mode: backwards;
}

.bubbleSelected {
	background-color: var(--task-selected-bg-light-color);
}

.bubble:nth-child(1),
.bubbleSelected:nth-child(1) {
	animation-delay: -2.5s;
}

.bubble:nth-child(2),
.bubbleSelected:nth-child(2) {
	animation-delay: -1.65s;
}

.bubble:nth-child(3),
.bubbleSelected:nth-child(3) {
	animation-delay: -0.825s;
}

@keyframes bubbleUp {
	0% {
		transform: scale(0.2) translateY(0);
	}

	50% {
		transform: scale(1.75, 1.25) translateY(-22px) translateX(10px);
	}
	100% {
		transform: scale(6, 3) translateY(-34px) translateX(0px);
	}
}

@keyframes hoverPulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}

@keyframes down {
	0% {
		transform: translateY(0) scale(1);
	}
	25% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(500px) scale(0.5);
	}
}

@keyframes badgeBounce {
	0% {
	}
	20% {
		transform: translate(110px, -32px) rotate(-5deg);
	}
	90% {
		transform: translate(110px, -34px) rotate(-10deg);
	}
	100% {
		transform: translate(110px, -30px) rotate(0deg);
	}
}
