:root {
	/* page.module.css */
	--sky-color: #adc7f3;
	--grass-color: #d7e79d;
	--dark-brown-text-color: #68634d;
	--dark-blue-text-color: #515d76;
	--accent-text-color: #0c9cac;
	--stamp-text-color: #fff;
	--minimum-width: 1400px;
	--minimum-height: 800px;

	/* tasks.module.css */
	--task-color: #f7f3dd;
	--task-circle-color: #e3dfc7;
	--multiplier-badge-color: #f7b14f;
	--task-text-color: #bbb49f;
	--task-selected-text-color: #e3edfe;
	--task-selected-bg-light-color: #496dcb;
	--task-selected-bg-dark-color: #5578d6;
	/* taskModal.module.css */
	--task-modal-redeem-gradient: repeating-linear-gradient(
		135deg,
		#5578d6,
		#5578d6 16px,
		#496dcb 16px,
		#496dcb 32px
	);
	--task-modal-redeem-bg-color: #7795eb;

	/* menu.module.css */
	--nmt-count-color: #b9dafd;
	/* menuDialog.module.css */
	--tab-button-color: #f4f7df;
	--tab-active-color: #606ac9;
	--accent-button-color: #827c65;
	/* rewardCollection.module.css */
	--reward-card-bg-color: #fdfeee;
	--reward-card-bg-accent-color: #8899f0;
	/* stampCollection.module.css */
	--stamp-card-outer-color: #fdfeee;
	--stamp-circle-bg-color: #f4f7df;
	--backdrop-color: rgb(149, 198, 240);
	/* rewardStore.module.css */
	--reward-store-row-bg-color: #e0e0e0;
	--reward-store-row-gradient: repeating-linear-gradient(
		135deg,
		rgba(145, 229, 237, 0.5),
		rgba(145, 229, 237, 0.5) 16px,
		rgba(133, 221, 228, 0.5) 16px,
		rgba(133, 221, 228, 0.5) 32px
	);
	--reward-store-modal-bg-color: #19354de6;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 16px;
	overflow: hidden;
}

body {
}

/* slick-carousel */
.slick-slide {
	display: flex !important;
	justify-content: center !important;
}

.slick-track {
	min-height: 400px !important;
	transform: translate3d(0, 0, 0) !important;
}

.slick-arrow {
	animation: hoverPulse 1s infinite alternate;
}

.slick-list {
	height: 600px;
}

/* maybe used for curving tasks in an arch */
/* .slick-track .slick-slide:first-child div {
	position: absolute !important;
} */

@keyframes hoverPulse {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.05);
	}
}
